body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(41, 49, 63);
    color: white;
}

.nav-container {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 40px;
}

.nav1 {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
}

.nav1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}


.nav1 li {
    display: inline;
}

.nav1 a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    position: relative;
    /* background-color: rgb(197, 127, 41); */
}

.nav1 .login-btn {
    background-color: rgb(41, 38, 38);
    color: white;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
    border-radius: 5px;
}

.nav1 a::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: rgb(231, 41, 41);
    transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
    transform: scaleX(0);
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(41, 38, 38);
}

.nav1 .login-btn:hover {
    background-color: rgb(255, 127, 41);
}