 body {
     font-family: Arial, sans-serif;
     line-height: 1.6;
     margin: 0;
     padding: 20px;
     background-color: #f0f0f0;
 }

 h1,
 h2 {
     color: #333;
 }

 .container {
     background-color: #1350c1;
     border: 2px solid #333;
     margin-bottom: 20px;
     padding: 10px;
 }

 .grid-container {
     display: grid;
     gap: 10px;
     background-color: #ddd;
     padding: 10px;
     margin-bottom: 10px;
 }

 .box {
     background-color: #138785;
     color: white;
     padding: 20px;
     font-size: 18px;
     text-align: center;
 }

 .box:nth-child(even) {
     background-color: #8a1c2f;
 }